In [4]:
import pandas as pd

data = pd.read_csv('data/parsed.csv')

## Exercise 1
Find 95th percentile of earthquake magnitude in Japan using the magType of 'mb'.

In [6]:
# Shape
data.shape

(9332, 27)

In [7]:
# columns
data.columns

Index(['alert', 'cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mag',
       'magType', 'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources',
       'status', 'time', 'title', 'tsunami', 'type', 'types', 'tz', 'updated',
       'url', 'parsed_place'],
      dtype='object')

In [8]:
# data types
data.dtypes

alert            object
cdi             float64
code             object
detail           object
dmin            float64
felt            float64
gap             float64
ids              object
mag             float64
magType          object
mmi             float64
net              object
nst             float64
place            object
rms             float64
sig               int64
sources          object
status           object
time              int64
title            object
tsunami           int64
type             object
types            object
tz              float64
updated           int64
url              object
parsed_place     object
dtype: object

In [9]:
# first five
data.head()

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,status,time,title,tsunami,type,types,tz,updated,url,parsed_place
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...,California
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...,California
2,NaN,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.021370,28.0,21.0,",ci37389194,",3.42,ml,...,automatic,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...,California
3,NaN,NaN,37389186,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.026180,NaN,39.0,",ci37389186,",0.44,ml,...,automatic,1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475196167,https://earthquake.usgs.gov/earthquakes/eventp...,California
4,NaN,NaN,73096941,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.077990,NaN,192.0,",nc73096941,",2.16,md,...,automatic,1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1539477547926,https://earthquake.usgs.gov/earthquakes/eventp...,California

In [14]:
data['parsed_place'].unique()

array(['California', 'Dominican Republic', 'Alaska', 'Indonesia',
       'Canada', 'Puerto Rico', 'Montana', 'Nevada', 'Christmas Island',
       'Hawaii', 'Northern Mariana Islands', 'Japan', 'Ecuador',
       'Vanuatu', 'Mexico', 'Russia', 'British Virgin Islands',
       'Washington', 'Papua New Guinea', 'Fiji', 'U.S. Virgin Islands',
       'Chile', 'Peru', 'Yemen', 'Guatemala', 'Kansas', 'Australia',
       'Wyoming', 'Kuril Islands', 'Oklahoma', 'Tennessee',
       'Pacific-Antarctic Ridge', 'Utah', 'Colombia', 'Argentina',
       'Oregon', 'Greece', 'Missouri', 'Tajikistan',
       'Northern Mid-Atlantic Ridge', 'Sumatra', 'Solomon Islands',
       'Burma', 'Taiwan', 'Nicaragua',
       'South Georgia and South Sandwich Islands', 'Idaho', 'Kyrgyzstan',
       'Arizona', 'Tonga', 'Northern East Pacific Rise', 'South Africa',
       'Southern Mid-Atlantic Ridge', 'Costa Rica', 'China',
       'Philippines', 'Haiti', 'Jamaica', 'Kentucky', 'New Zealand',
       'Iran', 'Afghanistan', 'Southwest Indian Ridge', 'Saint Helena',
       'Texas', 'New Caledonia', 'El Salvador',
       'Central Mid-Atlantic Ridge', 'Western Xizang', 'Italy',
       'Mid-Indian Ridge', 'Ascension Island', 'North Carolina',
       'South Sandwich Islands', 'Saint Eustatius and Saba', 'Pakistan',
       'Bolivia', 'Turkey', 'Indian Ocean Triple Junction', 'Mayotte',
       'Queen Charlotte Islands', 'India', 'Arkansas', 'Guam',
       'Uzbekistan', 'Prince Edward Islands', 'Martinique', 'Honduras',
       'Southern East Pacific Rise', 'East Timor', 'Barbuda', 'Mauritius',
       'Carlsberg Ridge', 'Greenland', 'Balleny Islands',
       'Western Indian-Antarctic Ridge', 'South Carolina', 'Vermont',
       'Romania', 'New Hampshire', 'Central East Pacific Rise',
       'Southeast Indian Ridge', 'Kermadec Islands', 'Colorado',
       'Illinois', 'Socotra', 'Azerbaijan', 'Iraq', 'Somalia',
       'New Mexico'], dtype=object)

In [15]:
newdf1 = data[(data.parsed_place == 'Japan') & (data.magType == 'mb')]
newdf1.mag.quantile(0.95)
## Text solutions combine these two lines

4.9

## Exercise 2
Find the percentage of earthquakes in Indonesia that were coupled with tsunamis.

In [25]:
# Number of earthquakes in Indonesia
indoquakes = len(data[data['parsed_place']=='Indonesia'])

# Number of tsunamis in Indonesia
indotsu = sum(data[data['parsed_place']=='Indonesia'].tsunami)

# Percent of earthquakes in Indonesia coupled with tsunamis
pct = (indotsu/indoquakes)*100
pctval = '{:.2f}%'.format(pct)
pctval

## Text solutions that looks complicated for me

'23.13%'

## Exercise 3
Get summary statistics for earthquakes in Nevada

In [26]:
# Summary statistics using describe()

data[data['parsed_place']=='Nevada'].describe()

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,15.000000,681.000000,15.000000,681.000000,681.000000,1.00,681.000000,681.000000,681.000000,6.810000e+02,681.0,681.0,6.810000e+02
mean,2.440000,0.166199,2.400000,153.668120,0.500073,2.84,12.618209,0.151986,10.970631,1.538314e+12,0.0,-480.0,1.538402e+12
std,0.501142,0.166228,4.626013,68.735302,0.696710,NaN,9.866963,0.084662,19.607150,5.965637e+08,0.0,0.0,6.010951e+08
min,2.000000,0.001000,1.000000,29.140000,-0.500000,2.84,3.000000,0.000500,0.000000,1.537247e+12,0.0,-480.0,1.537307e+12
25%,2.000000,0.053000,1.000000,97.380000,-0.100000,2.84,6.000000,0.106900,0.000000,1.537854e+12,0.0,-480.0,1.537928e+12
50%,2.200000,0.112000,1.000000,149.140000,0.400000,2.84,10.000000,0.146300,2.000000,1.538280e+12,0.0,-480.0,1.538428e+12
75%,2.900000,0.233000,1.000000,199.720000,0.900000,2.84,16.000000,0.187100,12.000000,1.538821e+12,0.0,-480.0,1.538878e+12
max,3.300000,1.414000,19.000000,355.910000,2.900000,2.84,61.000000,0.863400,129.000000,1.539461e+12,0.0,-480.0,1.539483e+12

## Exercise 4
Add a column to the dataframe indicating whether or not the earthquake happened in a country or US state that is on the Ring of Fire.  (Ring of Fire countries/states provided)

In [28]:
# List of Ring of Fire countries/states
ringfire = ['Bolivia', 'Chile', 'Ecuador', 'Peru', 'Costa Rica', 'Guatemala', '^Mexico', 'Japan',
           'Philippines', 'Indonesia', 'New Zealand', 'Antarctic', 'Canada', 'Fiji', 'Alaska',
           'Washington', 'California', 'Russia', 'Taiwan', 'Tonga', 'Kermadec Islands']

data['ring_of_fire'] = data.parsed_place.str.contains(r'|'.join(ringfire))
data.columns

## Had to look at the solutions, the regular expressions/raw string is something I need to work on

Index(['alert', 'cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mag',
       'magType', 'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources',
       'status', 'time', 'title', 'tsunami', 'type', 'types', 'tz', 'updated',
       'url', 'parsed_place', 'ring_of_fire'],
      dtype='object')

## Exercise 5
Calculate the number of earthquakes in the Ring of Fire locations and the number outside them.

In [31]:
# Calculate the number in the Ring of Fire
inring = len(data[data.ring_of_fire == True])

# Calculate the nubmer out of the Ring of Fire
outring = len(data[data.ring_of_fire == False])

print('In Ring: {}\nOutside Ring: {}'.format(inring, outring))

## The solutions used a cleaner one line:
data.ring_of_fire.value_counts()

In Ring: 7188
Outside Ring: 2144

True     7188
False    2144
Name: ring_of_fire, dtype: int64

## Exercise 6
Find the tsunami count along the Ring of Fire.

In [33]:
sum(data[data.ring_of_fire == True].tsunami)

## Solutions use a slightly different one line approach

45